*, *:before, *:after {
    border-radius: 0;
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    cursor: default;
    font: normal 1em/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 2em;
}

h1 {
    font-size: 3em;
    font-weight: 100;
}

h2 {
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 1em 0;
    padding-top: 1em;
    position: relative;
}

h2:before {
    border-top: 1px solid #EEE;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
}

h2 a {
    color: #BDC3C7;
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

h2 a:hover {
    color: #95A5A6;
}

figure {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

figure.black {
    color: #333;
}

figure.white {
    color: #FFF;
}


/* Responsive */

@media (max-width: 30em) {
    figure {
        padding: 2em;
    }
}

@media (min-width: 30em) {
    section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: -1em 0 0 -1em;
    }
    figure {
        background: #333;
        border-radius: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8em;
        -ms-flex: 0 0 8em;
        flex: 0 0 8em;
        line-height: 8em;
        margin: 1em 0 0 1em;
    }
}
